spring:
  config:
    activate:
      on-profile: common
  datasource:
    url: jdbc:mysql://${app.datasource.host}:${app.datasource.port}/${app.datasource.name}?${app.datasource.params}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

app:
  datasource:
    host: ${DB_HOST}
    port: ${DB_PORT}
    name: ${DB_NAME}
    params: ${DB_PARAMS}
  minio:
    endpoint: ${MINIO_ENDPOINT}
    access-key: ${MINIO_ACCESS_KEY}
    secret-key: ${MINIO_SECRET_KEY}
    bucket: ${MINIO_BUCKET}
